@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  background: #000 url('./images/beer2.jpg') no-repeat center center/cover;
  min-height: 100vh;
  color: #fff;
  font-family: 'Anton', sans-serif;
}

 
header h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 450;
    text-decoration: underline;
    padding-top: 10px;
    background-color: black;
}

.display-breweries {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display-breweries h1 {
  font-size: 55px;
  text-decoration: underline;
}

input {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 40%;
  margin: auto;
  outline: none;
  margin-top: 10px;
}

.brewery-container {
  background-color: rgba(51, 170, 51,  0.6) ;
  padding: 3rem 5rem;
  border: 3px solid black;
}

.brewery-info {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 15px;
}